@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  height: auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Open Sans", sans-serif;
}

/* Style the label to display next to the inputs */
label {
  display: inline-block;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* Style the submit button */
button[class="isbar-save"] {
  background-color: #04aa6d;
  margin: 2%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}

.home-nav a{
  text-decoration: none;
  color: black;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #455d84;
  color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 20%;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  text-align: center;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 3%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  button[class="isbar-save"] {
    width: 100%;
    margin-top: 0;
  }
}

/* This is new css for complex version of the app */
.main-menu-container {
  
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw 5vh 5vw;
  border-radius: 20px;
  
  color: #fff;
  background-color: #455d84;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Open Sans", sans-serif;
}

.main-menu-button{
  width: 300px;
  height: 50px;

  background-color: white;
  color: #455d84;

  border-radius: 15px;
  font-weight: 600;
  font-size: 20px; 
}

.menu-title{
  color: white;
  font-weight: 600;
  font-size: 30px;
}







/* Sophia's css */
*{
  /*margin: 0;*/
  padding:0;
  font-family: helvetica;
}

ul,li,a{
  list-style: none;
}
body{
  background-color: #405d88;
}
.title{
  width: 90%;
  height: 60px;
  margin: 50px auto;
  background-color: white;
}
.title p{
  line-height: 60px;
  font-size: 38px;
  font-weight: 800;
  margin-left: 2%;
}
.main{
  width: 90%;
  height: 550px;
  margin: 20px auto;
  overflow-y:scroll;
  overflow-x:hidden;
}
.content{
  width: 100%;
  float: left;
  /*background-color: red;*/
}
.textarea{
  width: 96%;
  padding: 10px  2% ;
  font-family: inherit;
  overflow: hidden;
  font-size: 15px;
  color: black;
}
.sign{
  color: white;
}
.sign-title{
  font-size: 18px;
}
.sign ul{
  width: 100%;
}
.sign li{
  width: 50%;
  float: left;
  margin-top: 20px;
}
label{
  width: 20%;
  height: 50px;
  margin-left: 10%;
  display: inline-block;
  text-align: right;
}
.input{
  width: 55%;
  height: 50px;
  margin-left: 3%;
  background: white;
  border-radius: 15px;
  outline:none;
}
.time{
  width: 20%;
  height: 50px;
}
.p1{
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px;
  height: 20px;
  background-color: white;
  color: black;
}
.p2{
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top:20px;
  right: 10px;
  width: 50px;
  height: 20px;
  background-color: #5c6d87;
  color: black;
}
.p1:checked{
  background-color: white;
}
.foot-ul{
  width: 910px;
  height: 100px;
  margin: 0 auto;
  font-size: 20px;
}
.foot p{
  margin: 0;
  padding: 0;
}
.foot-li {
  width: 130px;
  height: 100px;
  float: left;
  text-align: center;
  font-size: 40px;
}
.foot-li-div {
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: relative;
  background-color: white;
  float: left;
  margin: 0 30px;
  text-align: center;
  border-radius: 100%;
  font-size: 40px;
}
.checked{
  width: 80px;
  height: 80px;
  background-color: #c7d4f7;
  line-height: 80px;
}
@media all and (max-width: 910px) {
  .foot-ul{
      width: 700px;
  }
  .foot-li{
      width: 90px;
      height: 80px;
      margin: 0 5px;
  }
  .foot-li-div {
      margin: 0 0;
  }
}
@media all and (max-width: 768px) {
  .sign li{
      width: 100%;
      float: left;
  }
}
@media all and (max-width: 700px) {
  .foot-ul{
      width: 370px;
      height: 50px;
  }
  .foot-li{
      width: 50px;
      height: 50px;
      margin: 0 0;
  }
  .foot-li-div {
      width: 40px;
      height: 40px;
      margin: 0 0;
      font-size: 20px;
      line-height: 40px;
  }
  .foot-li-div:hover{
      width: 45px;
      height: 45px;
      background-color: #c7d4f7;
      line-height: 45px;
  }
  .foot img{
      width: 40px;
      height: 40px;
  }
}
