@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  height: auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Open Sans", sans-serif;
}

/* Style the label to display next to the inputs */
label {
  display: inline-block;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color:#fff !important;
}

/* Style the submit button */
button[class="isbar-save"] {
  background-color: #04aa6d;
  margin: 2%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}

.home-nav a{
  text-decoration: none;
  color: black;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #455d84;
  color: #fff;
  padding-left: 10%;
  padding-right: 20%;
  margin: 0 5%;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  text-align: center;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 3%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  button[class="isbar-save"] {
    width: 100%;
    margin-top: 0;
  }
}

/* This is new css for complex version of the app */
.main-menu-container {
  
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw 5vh 5vw;
  border-radius: 20px;
  
  color: #fff;
  background-color: #455d84;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Open Sans", sans-serif;
}

.main-menu-button{
  width: 300px;
  height: 50px;

  background-color: white;
  color: #455d84;

  border-radius: 15px;
  font-weight: 600;
  font-size: 20px; 
}

.menu-title{
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.app-complex{
  /* width: 100vw; */
  /* height: 100vh; */
}
.app-content{

  width: 100vw;
  height: 90vh;
}

table{
  width: 100%;
}

th{
  font-size: large;
}

td, th {  
  text-align: left;
  padding: 8px;
  
}



:root{
  --sl-input-color: white;
  
}